.header {
  border-bottom: 2px solid var(--decor-color);
  box-shadow: 0 10px 5px -5px rgba(var(--decor-color-rgb), .25);
  margin-bottom: 3em;
  flex-shrink: 0;
}
@media (min-width: 700px) {
  .header {
    margin-bottom: 5em;
  }
}
@media (min-width: 1280px) {
  .header {
    border-bottom: none;
    box-shadow: unset;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
@media (min-width: 700px) {
  .header-container {
    padding: 2em 0;
  }
}
@media (min-width: 1280px) {
  .header-container {
    padding: 2em 2.5em;
    border-bottom: 2px solid var(--decor-color);
    box-shadow: 0 10px 5px -5px rgba(var(--decor-color-rgb), .25);
  }
}
