.modal-window-blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(var(--simple-black-rgb), .5);
}

.modal-window {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: var(--simple-white);
  border: 2px solid var(--decor-color);
  border-radius: 15px;
  padding: 1.5em;
  text-align: center;
}
@media (min-width: 700px) {
  .modal-window {
    width: 70%;
  }
}

.modal-window-text {
  margin-bottom: 1.5em;
}
