@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --primary-light: #edf2fb;
  --primary-dark: #16425b;
  --decor-color: #cdb4db;
  --right-color: #2d6a4f;
  --wrong-color: #a4161a;
  --simple-white: #ffffff;

  --decor-color-rgb: 205, 180, 219;
  --primary-dark-rgb: 22, 66, 91;
  --simple-black-rgb: 0, 0, 0;

  --heading-font: 'Marcellus', serif;
  --paragraph-font: 'Ubuntu', sans-serif;
}
